@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div id="account-details">
    <h3>Parola Değiştir</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="register-form login-form clearfix">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                Eski Parola
                <input asp-for="Input.OldPassword" class="form-control" maxlength="16" minlength="5" required onkeypress="return spaceBloker()" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                Yeni Parola
                <input asp-for="Input.NewPassword" class="form-control" maxlength="16" minlength="5" required onkeypress="return spaceBloker()" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                Yeni Parola Tekrar
                <input asp-for="Input.ConfirmPassword" class="form-control" maxlength="16" minlength="5" required onkeypress="return spaceBloker()" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="register-box">
                <button type="submit" class="return-customer-btn float-right">Parola Değiştir</button>
            </div>
        </form>
    </div>
</div>