@page
@model SetPasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div id="account-details">
    <h3>Parola Oluştur</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <p class="text-info">
        Bu site için yerel bir parolanız yok. Bir hizmet ile oturum açmadan giriş yapabilmek için bir parola oluşturun.
        <br />
        Parola oluşturma işleminden sonra artık email ve parolanızı giriş için kullanabilirsiniz.
    </p>
    <div class="register-form login-form clearfix">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Parola
                <input asp-for="Input.NewPassword" class="form-control" required onkeypress="return spaceBloker()" maxlength="16" minlength="5" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                Parola Tekrar
                <input asp-for="Input.ConfirmPassword" class="form-control" required onkeypress="return spaceBloker()" maxlength="16" minlength="5" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="register-box">
                <button type="submit" class="return-customer-btn float-right">Parola Oluştur</button>
            </div>
        </form>
    </div>
</div>