@model Slider

<div class="dash-app">
    <header class="dash-toolbar">
        <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <div class="tools">
            <div class="dropdown tools-item">
                <a asp-area="User" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </header>
    <main class="dash-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                                <i class="fas fa-th-list"></i>
                            </div>
                            <div class="spur-card-title">İçerik Yönetimi / Slider / Ekle</div>
                        </div>
                        <div class="card-body ">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <strong>Başlık</strong>
                                            <input type="text" asp-for="Title" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <strong>Metin</strong>
                                            <input type="text" asp-for="Text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <strong>Buton Metni</strong>
                                            <input type="text" asp-for="ButtonText" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <strong>Buton Linki</strong>
                                            <input type="text" asp-for="ButtonUrl" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <strong>Resim</strong>
                                            <br />
                                            <b>
                                                <label class="text-warning">
                                                    Önerilen Boyut: 1920x960
                                                </label><br />
                                            </b>
                                            <input type="file" asp-for="Image" class="form-control-file" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <a asp-action="Index" class="btn btn-warning btn-lg text-white">Geri Dön</a>
            </div>
        </div>
    </main>
</div>